<%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/navBar') %>
    <div class="flex items-center justify-center h-screen">
        <div>
            <h4 class="text-xl font-semibold text-green-600">Home added successfully</h4>
            <button class="mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700" onclick="window.location.href='/'">Go to Home</button>
        </div>
    </div>


</body>
</html>